extends ../../pug/layouts/main.pug

block content
  article.text-cont
    h1 Books and Academic Papers
    p
      a(href="https://www.amazon.com/dp/1492053740") Effective TypeScript: 62 Specific Ways to Improve Your TypeScript
      |  (November 2019) - Concepts and ideas to help developers understand and write TypeScript well.
      | I was a technical reviewer of the book
    p
      a(href="https://dl.acm.org/citation.cfm?id=2815834") PDFMEF: A Multi-Entity Knowledge Extraction Framework for Scholarly Documents and Semantic Search
      |  (October 2015) - Second author for paper about extracting metadata from scholary PDFs