extends ../../pug/layouts/main.pug

block content
  article.text-cont
    h1 Presentations
    p
      a(href="/presentations/strongStrings.pdf") Strong Strings
      |  (September 2017) - Why `string` is weak and what to do about it
    p
      a(href="/presentations/new-in-ts27.pdf") What's new in TypeScript 2.7
      |  (February 2018) - An overview of the changes and new features in TypeScript 2.7
    p
      a(href="/presentations/new-in-ts29.pdf") What's new in TypeScript 2.9
      |  (June 2018) - An overview of the changes and new features in TypeScript 2.9
      | with my gratuitous opinion of each change included.
    p
      a(href="/presentations/tslint-and-typescript-compiler.pdf") TSLint and the TypeScript Compiler
      |  (July 2018) - An introduction to the TypeScript compiler internals
      | in order to help you learn to write TSLint rules.
    p
      a(href="/presentations/new-in-ts30-and-ts31.pdf") What's new in TypeScript 3.0 and 3.1
      |  (October 2018) - An overview of the changes and new features in TypeScript 3.0 and 3.1

