header.site-header
  div.site-bar
  div.site-bar
  div.site-bar
  div.site-bar
  div.site-bar
  a.site-link.site-title(href="/") jasonkillian.com
  a.site-link.site-title-mobile(href="/") JK
  div.pages
    a.site-link(href="/articles") Articles
    a.site-link(href="/books") Books
    a.site-link(href="/presentations") Presentations
