g
  path(style="fill:#84D4EE;" d="M49.5,124.5c-6.8,3-27,22-27,22l32-9c0,0,307.3-125.2,420-73c67,31,167.2-7.9,186-22 c16.3-12.2,21.5-29.9,20.9-28c-2.6,9-144.9,75.4-214.9,33C393.5,14.5,141.9,83.5,49.5,124.5z")
  path(style="fill:#FDDDDA;" d="M466.5,40.2c-100.7-5.3-296.1,50.3-375,85.4c-6.8,3-27,22-27,22l32-9c0,0,307.3-125.3,420-73.1 c67,31,167.2-8,186-22c16.3-12.2,21.5-30,20.9-28c-2.6,9-144.9,75.5-214.9,33C497.9,43.7,483.6,41.1,466.5,40.2z")
  path(style="fill:#F2857A;" d="M516.5,40.2c-100.7-5.3-296.1,50.3-375,85.4c-6.8,3-27,22-27,22l32-9c0,0,307.3-125.3,420-73.1 c67,31,167.2-8,186-22c16.3-12.2,21.5-30,20.9-28c-2.6,9-144.9,75.5-214.9,33C547.9,43.7,533.6,41.1,516.5,40.2z")
  path(style="fill:#A2524A;" d="M566.5,40.2c-100.7-5.3-296.1,50.3-375,85.4c-6.8,3-27,22-27,22l32-9c0,0,307.3-125.3,420-73.1 c67,31,167.2-8,186-22c16.3-12.2,21.5-30,20.9-28c-2.6,9-144.9,75.5-214.9,33C597.9,43.7,583.6,41.1,566.5,40.2z")
  path(style="fill:#4A8CA2;" d="M616.5,40.2c-100.7-5.3-296.1,50.3-375,85.4c-6.8,3-27,22-27,22l32-9c0,0,307.3-125.3,420-73.1 c67,31,167.2-8,186-22c16.3-12.2,21.5-30,20.9-28c-2.6,9-144.9,75.5-214.9,33C647.9,43.7,633.6,41.1,616.5,40.2z")
  path(style="fill:#84D4EE;" d="M666.5,40.2c-100.7-5.3-296.1,50.3-375,85.4c-6.8,3-27,22-27,22l32-9c0,0,307.3-125.3,420-73.1 c67,31,167.2-8,186-22c16.3-12.2,21.5-30,20.9-28c-2.6,9-144.9,75.5-214.9,33C697.9,43.7,683.6,41.1,666.5,40.2z")