extends ../../pug/layouts/main.pug

block extra-head
  script(src="https://embed.runkit.com" data-element-id="runkit-0" defer)

block content
  article.text-cont
    include:markdown-it(langPrefix='language-', html=true) autoformatting-adventures/article.md
