extends ../../pug/layouts/main.pug

block content
  article.text-cont
    h1 Articles
    p
      a(href="/articles/autoformatting-adventures.html") Autoformatting Adventures
      |  (August 2018) - An adventure in developer tooling and the world of open source
    p
      a(href="https://medium.com/trialspark/analyzing-code-review-response-times-at-trialspark-67af447f97e3") Analyzing Code Review Response Times...
      |  (December 2018, External) - Figuring out how promptly code reviews are completed with GitHub's GraphQL API