extends ../../pug/layouts/main.pug

block content
  article.text-cont
    h1 Articles
    p
      a(href="/articles/autoformatting-adventures.html") Autoformatting Adventures
      |  (August 2018) - An adventure in developer tooling and the world of open source